In [173]:
import numpy as np
import pandas as pd
from decimal import Decimal

In [197]:
df_file = pd.read_csv('E:/Alpha/Python/IVW.csv')

C:\Users\prince sahu\AppData\Local\Temp\ipykernel_16864\3380821350.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_file = pd.read_csv('E:/Alpha/Python/IVW.csv')

In [198]:
df_file

,Unnamed: 0,ticker,name,sector,asset_class,market_value,weight,notional_value,shares,price,location,exchange,currency,fx_rate,market_currency,accrual_date,etfname,date
0,0,MSFT,MICROSOFT CORP,Information Technology,Equity,"5,70,14,72,219.05",12.52,"5,70,14,72,219.05","1,37,34,185.00",415.13,United States,NASDAQ,USD,1,USD,-,IVW,20240531
1,1,AAPL,APPLE INC,Information Technology,Equity,"5,15,80,00,981.50",11.32,"5,15,80,00,981.50","2,68,29,654.00",192.25,United States,NASDAQ,USD,1,USD,-,IVW,20240531
2,2,NVDA,NVIDIA CORP,Information Technology,Equity,"5,00,53,27,504.90",10.99,"5,00,53,27,504.90","45,65,530.00","1,096.33",United States,NASDAQ,USD,1,USD,-,IVW,20240531
3,3,AMZN,AMAZON COM INC,Consumer Discretionary,Equity,"2,98,10,63,369.24",6.54,"2,98,10,63,369.24","1,68,95,621.00",176.44,United States,NASDAQ,USD,1,USD,-,IVW,20240531
4,4,META,META PLATFORMS INC CLASS A,Communication,Equity,"1,89,83,09,109.06",4.17,"1,89,83,09,109.06","40,66,382.00",466.83,United States,NASDAQ,USD,1,USD,-,IVW,20240531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103035,103035,ARD,ARDAGH GROUP SA CLASS A,Materials,Equity,"88,987.41",0.00,"88,987.41","12,001.00",7.42,Luxembourg,New York Stock Exchange Inc.,USD,1,USD,-,IWB,20240612
103036,103036,-,ESC GCI LIBERTY INC SR ESCROW,Communication,Equity,0.7,0.00,0.7,"70,458.00",0,United States,NASDAQ,USD,1,USD,-,IWB,20240612
103037,103037,ETD_USD,ETD USD BALANCE WITH R30382,Cash and/or Derivatives,Cash,3.12,0.00,3.12,3,100,United States,-,USD,1,USD,1-Jan-00,IWB,20240612
103038,103038,FAM4,S&P MID 400 EMINI JUN 24,Cash and/or Derivatives,Futures,0,0.00,"5,022,650.00",17,"2,954.50",-,Index And Options Market,USD,1,USD,-,IWB,20240612
103039,103039,ESM4,S&P500 EMINI JUN 24,Cash and/or Derivatives,Futures,0,0.00,"64,858,625.00",239,"5,427.50",-,Index And Options Market,USD,1,USD,-,IWB,20240612

In [199]:
df_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103040 entries, 0 to 103039
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       103040 non-null  int64
 1   ticker           103022 non-null  object
 2   name             103040 non-null  object
 3   sector           103040 non-null  object
 4   asset_class      103040 non-null  object
 5   market_value     103040 non-null  object
 6   weight           103040 non-null  float64
 7   notional_value   103040 non-null  object
 8   shares           103040 non-null  object
 9   price            103040 non-null  object
 10  location         103040 non-null  object
 11  exchange         103040 non-null  object
 12  currency         103040 non-null  object
 13  fx_rate          103040 non-null  object
 14  market_currency  103040 non-null  object
 15  accrual_date     103040 non-null  object
 16  etfname          103040 non-null  object
 17  date             103040 non-null  int64
dtypes: float64(1), int64(2), object(15)
memory usage: 14.2+ MB

In [200]:
df_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103040 entries, 0 to 103039
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       103040 non-null  int64
 1   ticker           103022 non-null  object
 2   name             103040 non-null  object
 3   sector           103040 non-null  object
 4   asset_class      103040 non-null  object
 5   market_value     103040 non-null  object
 6   weight           103040 non-null  float64
 7   notional_value   103040 non-null  object
 8   shares           103040 non-null  object
 9   price            103040 non-null  object
 10  location         103040 non-null  object
 11  exchange         103040 non-null  object
 12  currency         103040 non-null  object
 13  fx_rate          103040 non-null  object
 14  market_currency  103040 non-null  object
 15  accrual_date     103040 non-null  object
 16  etfname          103040 non-null  object
 17  date             103040 non-null  int64
dtypes: float64(1), int64(2), object(15)
memory usage: 14.2+ MB

In [201]:
def str_to_int(s):
    
    if isinstance(s, str):
        raw_num=s.replace(',','')
    
        return float(raw_num)
    else:
        return s

##### market_value , weight, notional_value ,shares,	price	,fix_rate,
#####  date -> date_format

In [178]:
def to_decimal(x):
      try:
        return Decimal(str(x))  # Convert to string before creating Decimal
      except (ValueError, TypeError):
        return None  # Handle non-numeric values (optional)

In [211]:
def clean_df(df):
    # remove  Empty rows
    df = df.dropna(how='all')  
    # function to convert string values to numbers
    list_of_col=['market_value' , 'weight', 'notional_value' ,'shares',	'price'	,'fx_rate']
    for col_name in (list_of_col):
        df[col_name]=df[col_name].apply(str_to_int)
        df[col_name]=df[col_name].astype("float64")
    # function to convert datetime values to datetime objects

    df['date'] = pd.to_datetime(df['date'], format='%Y%M%d').dt.date

        
    # print(df.head)
    # print(df['date'])
    return df

In [212]:
clean_df(df_file)

0         2024-01-31
1         2024-01-31
2         2024-01-31
3         2024-01-31
4         2024-01-31
             ...
103035    2024-01-12
103036    2024-01-12
103037    2024-01-12
103038    2024-01-12
103039    2024-01-12
Name: date, Length: 103040, dtype: object

In [ ]:
type("sdg")

str